<app-card>
  <article>
    <h2>{{ task.title }}</h2>
    <!-- Mediante DatePipe importada desde common podemos cambiar el formato de fecha -->
    <time>{{ task.dueDate | date : "fullDate" }}</time>
    <p>{{ task.summary }}</p>
    <p class="actions">
      <!-- Esta funcion comunica con la funcion definida en el componente, que a su vez ejecuta un emmit.
    No se puede ejecutar el emmitt directamente -->
      <button (click)="onCompleteTask()">Complete</button>
    </p>
  </article>
</app-card>
